OPENSANDBOX_DOMAIN=       # host:port only, NO scheme
OPENSANDBOX_API_KEY=
OPENSANDBOX_PROTOCOL=https    # use http if you set the local opensandbox server
OPENSANDBOX_SERVER_PROXY=true # use false if you set the opensandbox server on local without server proxy